# Node modules
node_modules/
**/node_modules/

# Logs
npm-debug.log
yarn-error.log
pnpm-debug.log

# Turbo cache
.turbo/

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.local
**/apps/api/.env*       # all env files from api folder
**/apps/web/.env*       # all env files from web folder

# Optional: ignore build output (if any)
dist/
build/